In [1]:
import pandas as pd

In [2]:
oly_file = pd.read_csv("C:/Users/aakan/Desktop/Stevens/Semester 2/Self_Study/Python/Pandas/Olympics/Python_Project/olympics.csv",skiprows=4)
oly_file

,City,Edition,Sport,Discipline,Athlete,NOC,Gender,Event,Event_gender,Medal
0,Athens,1896,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,100m freestyle,M,Gold
1,Athens,1896,Aquatics,Swimming,"HERSCHMANN, Otto",AUT,Men,100m freestyle,M,Silver
2,Athens,1896,Aquatics,Swimming,"DRIVAS, Dimitrios",GRE,Men,100m freestyle for sailors,M,Bronze
3,Athens,1896,Aquatics,Swimming,"MALOKINIS, Ioannis",GRE,Men,100m freestyle for sailors,M,Gold
4,Athens,1896,Aquatics,Swimming,"CHASAPIS, Spiridon",GRE,Men,100m freestyle for sailors,M,Silver
5,Athens,1896,Aquatics,Swimming,"CHOROPHAS, Efstathios",GRE,Men,1200m freestyle,M,Bronze
6,Athens,1896,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,1200m freestyle,M,Gold
7,Athens,1896,Aquatics,Swimming,"ANDREOU, Joannis",GRE,Men,1200m freestyle,M,Silver
8,Athens,1896,Aquatics,Swimming,"CHOROPHAS, Efstathios",GRE,Men,400m freestyle,M,Bronze
9,Athens,1896,Aquatics,Swimming,"NEUMANN, Paul",AUT,Men,400m freestyle,M,Gold
10,Athens,1896,Aquatics,Swimming,"PEPANOS, Antonios",GRE,Men,400m freestyle,M,Silver
11,Athens,1896,Athletics,Athletics,"LANE, Francis",USA,Men,100m,M,Bronze
12,Athens,1896,Athletics,Athletics,"SZOKOLYI, Alajos",HUN,Men,100m,M,Bronze
13,Athens,1896,Athletics,Athletics,"BURKE, Thomas",USA,Men,100m,M,Gold
14,Athens,1896,Athletics,Athletics,"HOFMANN, Fritz",GER,Men,100m,M,Silver
15,Athens,1896,Athletics,Athletics,"CURTIS, Thomas",USA,Men,110m hurdles,M,Gold
16,Athens,1896,Athletics,Athletics,"GOULDING, Grantley",GBR,Men,110m hurdles,M,Silver
17,Athens,1896,Athletics,Athletics,"LERMUSIAUX, Albin",FRA,Men,1500m,M,Bronze
18,Athens,1896,Athletics,Athletics,"FLACK, Edwin",AUS,Men,1500m,M,Gold
19,Athens,1896,Athletics,Athletics,"BLAKE, Arthur",USA,Men,1500m,M,Silver
20,Athens,1896,Athletics,Athletics,"GMELIN, Charles",GBR,Men,400m,M,Bronze
21,Athens,1896,Athletics,Athletics,"BURKE, Thomas",USA,Men,400m,M,Gold
22,Athens,1896,Athletics,Athletics,"JAMISON, Herbert",USA,Men,400m,M,Silver
23,Athens,1896,Athletics,Athletics,"GOLEMIS, Dimitrios",GRE,Men,800m,M,Bronze
24,Athens,1896,Athletics,Athletics,"FLACK, Edwin",AUS,Men,800m,M,Gold
25,Athens,1896,Athletics,Athletics,"DANI, Nandor",HUN,Men,800m,M,Silver
26,Athens,1896,Athletics,Athletics,"VERSIS, Sotirios",GRE,Men,discus throw,M,Bronze
27,Athens,1896,Athletics,Athletics,"GARRETT, Robert",USA,Men,discus throw,M,Gold
28,Athens,1896,Athletics,Athletics,"PARASKEVOPOULOS, Panagiotis",GRE,Men,discus throw,M,Silver
29,Athens,1896,Athletics,Athletics,"CLARK, Ellery",USA,Men,high jump,M,Gold
...,...,...,...,...,...,...,...,...,...,...
29186,Beijing,2008,Wrestling,Wrestling Free.,"MUTALIMOV, Marid",KAZ,Men,96 - 120kg,M,Bronze
29187,Beijing,2008,Wrestling,Wrestling Free.,"TAYMAZOV, Artur",UZB,Men,96 - 120kg,M,Gold
29188,Beijing,2008,Wrestling,Wrestling Free.,"AKHMEDOV, Bakhtiyar",RUS,Men,96 - 120kg,M,Silver
29189,Beijing,2008,Wrestling,Wrestling Gre-R,"AMOYAN, Roman",ARM,Men,- 55kg,M,Bronze
29190,Beijing,2008,Wrestling,Wrestling Gre-R,"PARK, Eun-Chul",KOR,Men,- 55kg,M,Bronze
29191,Beijing,2008,Wrestling,Wrestling Gre-R,"MANKIEV, Nazyr",RUS,Men,- 55kg,M,Gold
29192,Beijing,2008,Wrestling,Wrestling Gre-R,"BAYRAMOV, Rovshan",AZE,Men,- 55kg,M,Silver
29193,Beijing,2008,Wrestling,Wrestling Gre-R,"TENGIZBAYEV, Nurbakyt",KAZ,Men,55 - 60kg,M,Bronze
29194,Beijing,2008,Wrestling,Wrestling Gre-R,"TIUMENBAEV, Ruslan",KGZ,Men,55 - 60kg,M,Bronze
29195,Beijing,2008,Wrestling,Wrestling Gre-R,"ALBIEV, Islam-Beka",RUS,Men,55 - 60kg,M,Gold
29196,Beijing,2008,Wrestling,Wrestling Gre-R,"RAHIMOV, Vitaliy",AZE,Men,55 - 60kg,M,Silver
29197,Beijing,2008,Wrestling,Wrestling Gre-R,"SIAMIONAU, Mikhail",BLR,Men,60 - 66kg,M,Bronze
29198,Beijing,2008,Wrestling,Wrestling Gre-R,"VARDANYAN, Armen",UKR,Men,60 - 66kg,M,Bronze
29199,Beijing,2008,Wrestling,Wrestling Gre-R,"GUENOT, Steeve",FRA,Men,60 - 66kg,M,Gold
29200,Beijing,2008,Wrestling,Wrestling Gre-R,"BEGALIEV, Kanatbek",KGZ,Men,60 - 66kg,M,Silver
29201,Beijing,2008,Wrestling,Wrestling Gre-R,"GUENOT, Christophe",FRA,Men,66 - 74kg,M,Bronze
29202,Beijing,2008,Wrestling,Wrestling Gre-R,"YANAKIEV, Yavor",BUL,Men,66 - 74kg,M,Bronze
29203,Beijing,2008,Wrestling,Wrestling Gre-R,"KVIRKELIA, Manuchar",GEO,Men,66 - 74kg,M,Gold
29204,Beijing,2008,Wrestling,Wrestling Gre-R,"CHANG, Yongxiang",CHN,Men,66 - 74kg,M,Silver
29205,Beijing,2008,Wrestling,Wrestling Gre-R,"AVLUCA, Nazmi",TUR,Men,74 - 84kg,M,Bronze
29206,Beijing,2008,Wrestling,Wrestling Gre-R,"MINGUZZI, Andrea",ITA,Men,74 - 84kg,M,Gold
29207,Beijing,2008,Wrestling,Wrestling Gre-R,"FODOR, Zoltan",HUN,Men,74 - 84kg,M,Silver
29208,Beijing,2008,Wrestling,Wrestling Gre-R,"MAMBETOV, Asset",KAZ,Men,84 - 96kg,M,Bronze
29209,Beijing,2008,Wrestling,Wrestling Gre-R,"WHEELER, Adam",USA,Men,84 - 96kg,M,Bronze
29210,Beijing,2008,Wrestling,Wrestling Gre-R,"KHUSHTOV, Aslanbek",RUS,Men,84 - 96kg,M,Gold
29211,Beijing,2008,Wrestling,Wrestling Gre-R,"ENGLICH, Mirko",GER,Men,84 - 96kg,M,Silver
29212,Beijing,2008,Wrestling,Wrestling Gre-R,"MIZGAITIS, Mindaugas",LTU,Men,96 - 120kg,M,Bronze
29213,Beijing,2008,Wrestling,Wrestling Gre-R,"PATRIKEEV, Yuri",ARM,Men,96 - 120kg,M,Bronze
29214,Beijing,2008,Wrestling,Wrestling Gre-R,"LOPEZ, Mijain",CUB,Men,96 - 120kg,M,Gold
29215,Beijing,2008,Wrestling,Wrestling Gre-R,"BAROEV, Khasan",RUS,Men,96 - 120kg,M,Silver

In [31]:
a=oly_file[oly_file.NOC == 'USA'].groupby(['Edition','Athlete','Medal']).size().unstack('Medal',fill_value=0)

In [32]:
a

Medal                             Bronze  Gold  Silver
Edition Athlete
1896    BLAKE, Arthur                  0     0       1
        BURKE, Thomas                  0     2       0
        CLARK, Ellery                  0     2       0
        CONNOLLY, James                1     1       1
        CURTIS, Thomas                 0     1       0
        GARRETT, Robert                0     2       2
        HOYT, William Welles           0     1       0
        JAMISON, Herbert               0     0       1
        LANE, Francis                  1     0       0
        PAINE, John                    0     1       0
        PAINE, Sumner                  0     1       1
        TYLER, Albert                  0     0       1
1900    ABBOTT, Margaret Ives          0     1       0
        ABELL, Louis                   0     1       0
        BAXTER, Irving                 0     2       3
        BRAY, John                     1     0       0
        CARR, William                  0     1       0
        COLKETT, Meredith Bright       0     0       1
        CONNOLLY, James                0     0       1
        CREGAN, John                   0     0       1
        DEBAECKE, Harry                0     1       0
        EWRY, Ray                      0     3       0
        EXLEY, John                    0     1       0
        FLANAGAN, John Jesus           0     1       0
        GARRETT, Robert                2     0       0
        GEIGER, John                   0     1       0
        HALL, David                    1     0       0
        HARE, Thomas Truxton           0     0       1
        HEDLEY, Edward                 0     1       0
        HOLLAND, William               0     0       1
...                                  ...   ...     ...
2008    VANDERKAAY, Peter              1     1       0
        VARELLAS, Peter                0     0       1
        VENDT, Erik                    0     1       0
        VILLA, Brenda                  0     0       1
        VOLPENHEIN, Bryan              1     0       0
        WADE, Dwyane                   0     1       0
        WAGNER, Aly                    0     1       0
        WALSH, Daniel                  1     0       0
        WALSH, Kerri                   0     1       0
        WALTERS, David                 0     1       0
        WARD, Becca                    2     0       0
        WARD, Mclain                   0     1       0
        WARINER, Jeremy                0     1       1
        WATLEY, Natasha                0     0       1
        WEATHERS, Casey                1     0       0
        WEBER-GALE, Garrett            0     2       0
        WENGER, Lauren                 0     0       1
        WHEELER, Adam                  1     0       0
        WHIPPLE, Mary                  0     1       0
        WILDER, Deontay                1     0       0
        WILDMAN-TOBRINER, Ben          0     1       0
        WILLIAMS, Deron                0     1       0
        WILLIAMS, James                0     0       1
        WILLIAMS, Serena               0     1       0
        WILLIAMS, Venus                0     1       0
        WILLOUGHBY, Kim                0     0       1
        WINDES, Elsie                  0     0       1
        WINEBERG, Mary                 0     1       0
        WRIGHT, Adam                   0     0       1
        ZAGUNIS, Mariel                1     1       0

[3549 rows x 3 columns]

In [34]:
a['total_medals'] = a['Gold']+a['Silver']+a['Bronze']

In [40]:
a.reset_index(inplace=True)

In [41]:
a

Medal  Edition                   Athlete  Bronze  Gold  Silver  total_medals
0         1896             BLAKE, Arthur       0     0       1             1
1         1896             BURKE, Thomas       0     2       0             2
2         1896             CLARK, Ellery       0     2       0             2
3         1896           CONNOLLY, James       1     1       1             3
4         1896            CURTIS, Thomas       0     1       0             1
5         1896           GARRETT, Robert       0     2       2             4
6         1896      HOYT, William Welles       0     1       0             1
7         1896          JAMISON, Herbert       0     0       1             1
8         1896             LANE, Francis       1     0       0             1
9         1896               PAINE, John       0     1       0             1
10        1896             PAINE, Sumner       0     1       1             2
11        1896             TYLER, Albert       0     0       1             1
12        1900     ABBOTT, Margaret Ives       0     1       0             1
13        1900              ABELL, Louis       0     1       0             1
14        1900            BAXTER, Irving       0     2       3             5
15        1900                BRAY, John       1     0       0             1
16        1900             CARR, William       0     1       0             1
17        1900  COLKETT, Meredith Bright       0     0       1             1
18        1900           CONNOLLY, James       0     0       1             1
19        1900              CREGAN, John       0     0       1             1
20        1900           DEBAECKE, Harry       0     1       0             1
21        1900                 EWRY, Ray       0     3       0             3
22        1900               EXLEY, John       0     1       0             1
23        1900      FLANAGAN, John Jesus       0     1       0             1
24        1900           GARRETT, Robert       2     0       0             2
25        1900              GEIGER, John       0     1       0             1
26        1900               HALL, David       1     0       0             1
27        1900      HARE, Thomas Truxton       0     0       1             1
28        1900            HEDLEY, Edward       0     1       0             1
29        1900          HOLLAND, William       0     0       1             1
...        ...                       ...     ...   ...     ...           ...
3519      2008         VANDERKAAY, Peter       1     1       0             2
3520      2008           VARELLAS, Peter       0     0       1             1
3521      2008               VENDT, Erik       0     1       0             1
3522      2008             VILLA, Brenda       0     0       1             1
3523      2008         VOLPENHEIN, Bryan       1     0       0             1
3524      2008              WADE, Dwyane       0     1       0             1
3525      2008               WAGNER, Aly       0     1       0             1
3526      2008             WALSH, Daniel       1     0       0             1
3527      2008              WALSH, Kerri       0     1       0             1
3528      2008            WALTERS, David       0     1       0             1
3529      2008               WARD, Becca       2     0       0             2
3530      2008              WARD, Mclain       0     1       0             1
3531      2008           WARINER, Jeremy       0     1       1             2
3532      2008           WATLEY, Natasha       0     0       1             1
3533      2008           WEATHERS, Casey       1     0       0             1
3534      2008       WEBER-GALE, Garrett       0     2       0             2
3535      2008            WENGER, Lauren       0     0       1             1
3536      2008             WHEELER, Adam       1     0       0             1
3537      2008             WHIPPLE, Mary       0     1       0             1
3538      2008           WILDER, Deontay       1     0       0             1
3539      2008     WILDMAN-TOBRINER, Ben       0     1       0             1
3540      2008           WILLIAMS, Deron       0     1       0             1
3541      2008           WILLIAMS, James       0     0       1             1
3542      2008          WILLIAMS, Serena       0     1       0             1
3543      2008           WILLIAMS, Venus       0     1       0             1
3544      2008           WILLOUGHBY, Kim       0     0       1             1
3545      2008             WINDES, Elsie       0     0       1             1
3546      2008            WINEBERG, Mary       0     1       0             1
3547      2008              WRIGHT, Adam       0     0       1             1
3548      2008           ZAGUNIS, Mariel       1     1       0             2

[3549 rows x 6 columns]

In [50]:
tu = [group.sort_values('total_medals',ascending =False)[:1] for year,group in a.groupby('Edition')]
tu

[Medal  Edition          Athlete  Bronze  Gold  Silver  total_medals
 5         1896  GARRETT, Robert       0     2       2             4,
 Medal  Edition         Athlete  Bronze  Gold  Silver  total_medals
 14        1900  BAXTER, Irving       0     2       3             5,
 Medal  Edition       Athlete  Bronze  Gold  Silver  total_medals
 153       1904  HEIDA, Anton       0     5       1             6,
 Medal  Edition           Athlete  Bronze  Gold  Silver  total_medals
 363       1908  SHERIDAN, Martin       1     2       0             3,
 Medal  Edition                Athlete  Bronze  Gold  Silver  total_medals
 421       1912  OSBURN, Carl Townsend       1     1       2             4,
 Medal  Edition      Athlete  Bronze  Gold  Silver  total_medals
 506       1920  LEE, Willis       1     5       1             7,
 Medal  Edition              Athlete  Bronze  Gold  Silver  total_medals
 733       1924  WEISSMULLER, Johnny       1     3       0             4,
 Medal  Edition                 Athlete  Bronze  Gold  Silver  total_medals
 800       1928  OSIPOWICH, Albina Lucy       0     2       0             2,
 Medal  Edition             Athlete  Bronze  Gold  Silver  total_medals
 859       1932  DIDRIKSON, Mildred       0     2       1             3,
 Medal  Edition       Athlete  Bronze  Gold  Silver  total_medals
 1028      1936  OWENS, Jesse       0     4       0             4,
 Medal  Edition                  Athlete  Bronze  Gold  Silver  total_medals
 1128      1948  MCLANE, James Price Jr.       0     2       1             3,
 Medal  Edition              Athlete  Bronze  Gold  Silver  total_medals
 1234      1952  KONNO, Ford Hiroshi       0     2       1             3,
 Medal  Edition                Athlete  Bronze  Gold  Silver  total_medals
 1379      1956  MORROW, Robert Joseph       0     3       0             3,
 Medal  Edition                      Athlete  Bronze  Gold  Silver  \
 1500      1960  VON SALTZA, Susan Christina       0     3       1

 Medal  total_medals
 1500              4  ,
 Medal  Edition                Athlete  Bronze  Gold  Silver  total_medals
 1619      1964  STOUDER, Sharon Marie       0     3       1             4,
 Medal  Edition                    Athlete  Bronze  Gold  Silver  total_medals
 1673      1968  HICKCOX, Charles Buchanan       0     3       1             4,
 Medal  Edition      Athlete  Bronze  Gold  Silver  total_medals
 1844      1972  SPITZ, Mark       0     7       0             7,
 Medal  Edition                    Athlete  Bronze  Gold  Silver  total_medals
 1870      1976  BABASHOFF, Shirley Farber       0     1       4             5,
 Medal  Edition           Athlete  Bronze  Gold  Silver  total_medals
 2207      1984  RETTON, Mary-Lou       2     1       2             5,
 Medal  Edition          Athlete  Bronze  Gold  Silver  total_medals
 2294      1988  BIONDI, Matthew       1     5       1             7,
 Medal  Edition          Athlete  Bronze  Gold  Silver  total_medals
 2567      1992  MILLER, Shannon       3     0       2             5,
 Medal  Edition         Athlete  Bronze  Gold  Silver  total_medals
 2703      1996  HALL, Gary Jr.       0     2       2             4,
 Medal  Edition       Athlete  Bronze  Gold  Silver  total_medals
 3045      2000  TORRES, Dara       3     2       0             5,
 Medal  Edition          Athlete  Bronze  Gold  Silver  total_medals
 3226      2004  PHELPS, Michael       2     6       0             8,
 Medal  Edition          Athlete  Bronze  Gold  Silver  total_medals
 3463      2008  PHELPS, Michael       0     8       0             8]

In [51]:
new_df = pd.DataFrame()

In [54]:
for i in tu:
    new_df = new_df.append(i)

In [55]:
new_df

Medal,Edition,Athlete,Bronze,Gold,Silver,total_medals
5,1896,"GARRETT, Robert",0,2,2,4
14,1900,"BAXTER, Irving",0,2,3,5
153,1904,"HEIDA, Anton",0,5,1,6
363,1908,"SHERIDAN, Martin",1,2,0,3
421,1912,"OSBURN, Carl Townsend",1,1,2,4
506,1920,"LEE, Willis",1,5,1,7
733,1924,"WEISSMULLER, Johnny",1,3,0,4
800,1928,"OSIPOWICH, Albina Lucy",0,2,0,2
859,1932,"DIDRIKSON, Mildred",0,2,1,3
1028,1936,"OWENS, Jesse",0,4,0,4
1128,1948,"MCLANE, James Price Jr.",0,2,1,3
1234,1952,"KONNO, Ford Hiroshi",0,2,1,3
1379,1956,"MORROW, Robert Joseph",0,3,0,3
1500,1960,"VON SALTZA, Susan Christina",0,3,1,4
1619,1964,"STOUDER, Sharon Marie",0,3,1,4
1673,1968,"HICKCOX, Charles Buchanan",0,3,1,4
1844,1972,"SPITZ, Mark",0,7,0,7
1870,1976,"BABASHOFF, Shirley Farber",0,1,4,5
2207,1984,"RETTON, Mary-Lou",2,1,2,5
2294,1988,"BIONDI, Matthew",1,5,1,7
2567,1992,"MILLER, Shannon",3,0,2,5
2703,1996,"HALL, Gary Jr.",0,2,2,4
3045,2000,"TORRES, Dara",3,2,0,5
3226,2004,"PHELPS, Michael",2,6,0,8
3463,2008,"PHELPS, Michael",0,8,0,8